DJANGO_SECRET_KEY=replace-this-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
DEFAULT_FROM_EMAIL=website@fowleropticaltesting.co.uk
CONTACT_EMAIL=query@fowleropticaltesting.co.uk
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
